@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html,body{
    padding: 0px;
    margin: 0px;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
}

.weather-main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    
}

.card{
    padding: 2rem 5rem 0 5rem;
}